@import url('https://fonts.cdnfonts.com/css/mona-sans');
@import url('https://fonts.cdnfonts.com/css/halter');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Mona-Sans', sans-serif;
    font-family: 'Mona Sans', sans-serif;

}

/* menu de navegación */

header {
    padding: 20px 0;
}

nav {}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    font-size: 1.2rem;
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

.menu-toggle {
    display: none; /* Ocultar el icono del menú por defecto en dispositivos no móviles */
    cursor: pointer;
}

nav ul li a:hover {
    font-weight: bolder;
    text-shadow: #c4c2c2 1px 0 10px;
}


.container {
    height: 95vh;
    display: flex;
    align-items: center;
}

main {
    width: 100%;
    height: 85vh;
    display: flex;
}

.cajaDeTitulo {

    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3rem;
    margin: 0% 0% 0% 10%;
    width: 35%;
}

.cajaDeTitulo p {
    width: 90%;
}

.cajaDeTitulo span {
    font-weight: bold;
    font-size: 3.5rem;
}

.cajaDeTitulo form {

    display: flex;
    flex-direction: column;
    height: 30%;
    font-size: 1rem;
    margin: 5% 0%;
}

.cajaDeTitulo form div {
    margin: 1%;

}

.cajaDeTitulo form input {

    padding: 0% 1%;
    margin-left: 2%;
    border: none;
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 1rem;
    outline: none;
}

/* Estilo específico para los diferentes inputs */
.cajaDeTitulo form div:nth-of-type(1) .custom-input {
    width: 30%;
}

.cajaDeTitulo form div:nth-of-type(2) .custom-input {
    width: 30%;
}

.cajaDeTitulo form div:nth-of-type(3) .custom-input {
    width: 10%;
}

.cajaDeTitulo form div:nth-of-type(4) .custom-input {
    width: 10%;
}


/* Estilos para el botón */
.cajaDeTitulo form button {
    background-color: #168fff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bolder;
    cursor: pointer;
    width: 20%;
    height: 20%;
    margin: 2% auto;
    transition: 0.2s;
}

.cajaDeTitulo form button:hover {
    background-color: #0f6ec1;
}

.cajaDeTitulo form button:active {
    background-color: #0c58a0;
}



/* Estilos de la Notificación de la validación de la Tarjeta */

.notification {
    display: none;
    position: absolute;
    width: 20%;
    text-align: center;
    font-weight: bolder;
    top: 11%;
    left: 15%;
    background-color: #f8f9fa;
    color: #212529;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(-20px);
}

.notification.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.notification.success {
    background-color: #d4edda;
    color: #155724;
}

.notification.error {
    background-color: #f8d7da;
    color: #721c24;
}

.img-tarjetaCredito {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    font-family: 'Halter', sans-serif;
    font-size: 0.8em;
}

.img-tarjetaCredito .number-Card {
    width: 25%;
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 1rem;
}

.img-tarjetaCredito .name-Card {


    position: absolute;
    color: white;
    top: 46%;
    right: 30%;
}

.img-tarjetaCredito span {

    position: absolute;
    display: inline-flex;
    width: 5%;
    gap: 10%;
    color: white;
    top: 46%;
    right: 20%;

}

.img-tarjetaCredito .date-Card {}


.img-tarjetaCredito .cvc-Card {
    text-align: center;
    position: absolute;
    color: black;
    background: white;
    font-size: 1rem;
    font-weight: bolder;
    padding: 0.2%;
    border: solid 1px white;
    top: 70%;
    width: 15%;
    right: 25%;
    height: 4%;

}

.TarjetaImg {
    width: 57%;
    height: 90%;
}


.cajaDeDatos {
    display: flex;
}

/*Input input1 y input3 e input4(quitarle los botnes del costado)*/

.custom-input::-webkit-inner-spin-button,
.custom-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-input {
    -moz-appearance: textfield;
}

.input3::-webkit-inner-spin-button,
.input3::-webkit-outer-spin {
    -webkit-appearance: none;
    margin: 0;
}

.input4 {
    -moz-appearance: textfield;
}

.input4::-webkit-inner-spin-button,
.input4::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input4 {
    -moz-appearance: textfield;
}


/* footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background: black;
    color: white;
    font-size: 0.8rem;
    font-weight: bolder;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {

    .container{
        width: 90%;
        height: 90%;
        margin: 5% auto;
        transition: 0.2s;
    }

    .menu-toggle {
        display: block; /* Mostrar el icono del menú en dispositivos móviles */
        font-size: 2rem;
        margin: 0% 5%;
    }

    nav ul {
        display: none; /* Ocultar el menú en dispositivos móviles */
        position: absolute; /* Posición absoluta para que se superponga al contenido */
        top: 60px; /* Ajusta la distancia desde la parte superior del encabezado */
        background-color: white; /* Fondo blanco para el menú */
        z-index: 999; /* Z-index alto para asegurar que esté por encima del contenido */
        width: 100%; /* Ancho completo del menú */
        padding: 10px 10px; /* Relleno del menú */
    }

    nav ul.active {
        display: block; /* Mostrar el menú desplegable al hacer clic en el icono del menú */
    }

    nav ul.active li {
        margin-bottom: 10px; /* Espacio entre elementos del menú */
        display: block; /* Mostrar los elementos de la lista como bloques */
    }

    .cajaDeTitulo {
        padding: 0% 0%;
        width: 80%;
        font-size: 2.7rem;
    }

    .cajaDeTitulo span {
        font-size: 3.7rem;
        
    }

    .cajaDeTitulo form {

        font-size: 0.9rem;
    
    }

    
    .cajaDeTitulo form input::placeholder {
        color: transparent;
        /* Establece el color del placeholder en transparente */
    }

    .notification {
        width: 70%;
        top: 18%;
    }

    .cajaDeTitulo form button {
        width: 30%;
        margin: 5% auto;
    }

    .img-tarjetaCredito {
        display: none;
        /* Oculta la imagen en dispositivos móviles */
    }

    footer {
        display: none;
    }

}

/* Estilos para dispositivos tipo iPad Mini */
@media only screen and (min-width: 601px) and (max-width: 1400px) {
    
    .container{
        width: 90%;
        height: 90%;
        margin: 5% auto;
        transition: 0.2s;
    }

    .menu-toggle {
        display: block; /* Mostrar el icono del menú en dispositivos móviles */
        font-size: 2rem;
        margin: 0% 5%;
    }

    nav ul {
        display: none; /* Ocultar el menú en dispositivos móviles */
        position: absolute; /* Posición absoluta para que se superponga al contenido */
        top: 60px; /* Ajusta la distancia desde la parte superior del encabezado */
        background-color: white; /* Fondo blanco para el menú */
        z-index: 999; /* Z-index alto para asegurar que esté por encima del contenido */
        width: 100%; /* Ancho completo del menú */
        padding: 10px 10px; /* Relleno del menú */
    }

    nav ul.active {
        display: block; /* Mostrar el menú desplegable al hacer clic en el icono del menú */
    }

    nav ul.active li {
        margin-bottom: 10px; /* Espacio entre elementos del menú */
        display: block; /* Mostrar los elementos de la lista como bloques */
    }

    .cajaDeTitulo {
        padding: 0% 0%;
        width: 80%;
        font-size: 2.7rem;
    }

    .cajaDeTitulo span {
        font-size: 3.7rem;
        
    }

    .cajaDeTitulo form {

        font-size: 0.9rem;
    
    }

    /* tengo este input que tiene un placeholder,pero quiero con css borrar el placeholder */

    .cajaDeTitulo form input::placeholder {
        color: transparent;
        /* Establece el color del placeholder en transparente */
    }

    .notification {
        width: 70%;
        top: 18%;
    }

    .cajaDeTitulo form button {
        width: 30%;
        margin: 5% auto;
    }

    .img-tarjetaCredito {
        display: none;
        /* Oculta la imagen en dispositivos móviles */
    }

    footer {
        display: none;
    }
}